#first-slide {
    margin-top: 0px;
}

h1,
#visit {
    text-align: center;
}

#first-slide h1 {
    background: black;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#first-slide-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

#slide-left {
    width: 40%;
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

#slide-right {
    width: 65%;
    text-align: center;
    margin-bottom: 50px;
}

.info {
    width: 350px;
}

.info p {
    font-size: 24px;
    font-weight: 400;
    line-height: 40px;
}

#slide-right p {
    font-size: 24px;
    font-weight: 400;
    margin: 25px 100px 0px 100px;
}

body.dark #first-slide h1 {
    background: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

body.space #first-slide h1 {
    background: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

body.dark .info p {
    color: #fff;
}

body.dark #slide-right p {
    color: #fff;
}

body.dark #theme-btn-space {
    color: black;
    background-color: #fff;
}

#lambo {
    margin: -600px 425px 0px 0px;
    width: 1200px;
    z-index: -5;
    position: relative;
    opacity: 0.3;
}

#pika-img {
    position: relative;
    z-index: -5;
    opacity: 0.25;
    width: 500px;
    margin: -500px 0px 0px -500px;
}