body.space {
    background-color: #000;
}

body.space main {
    background: url(../assets/space2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body.space .info p {
    color: #fff;
}

body.space #white-tech-box {
    background-color: rgb(22, 22, 22);
    color: #fff;
}

body.space #testimonials {
    color: #fff;
}

body.space #theme-btn {
    color: black;
    background-color: #fff;
}

body.space #theme-btn-space {
    color: black;
    background-color: #fff;
}

body.space .gadget-svg {
    fill: #fff;
    z-index: 2;
}